[user]
	name = Ben Gabay
	email = ben.gabay38@gmail.com
	username = bengabay11

[core]
	editor = vim
	excludesfile = ./.gitignore

[color "branch"]
	current = green bold
	local = yellow
	remote = red

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = green
	changed = yellow
	untracked = red

[diff]
	renames = copies
	tool = vimdiff

[diff "bin"]
	textconv = hexdump -v -C

[web]
	browser = chromium

[color]
	ui = auto

[push]
	default = matching

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	whoami = config user.email
