repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: check-executables-have-shebangs
          - id: check-shebang-scripts-are-executable
          - id: check-merge-conflict
          - id: check-symlinks
          - id: destroyed-symlinks
          - id: check-case-conflict
          - id: fix-byte-order-marker
          - id: check-vcs-permalinks
          - id: mixed-line-ending
            args: ["--fix=lf"]

    - repo: https://github.com/scop/pre-commit-shfmt
      rev: v3.7.0-4
      hooks:
          - id: shfmt
            args: ["-w"]

    - repo: https://github.com/rhysd/actionlint
      rev: v1.6.26
      hooks:
          - id: actionlint
